/* GENERALE */
html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

/* UTILITY */
.bg-black {
    background-color: #000;
}

.sz-active {
    text-decoration: underline;
}

.text-black {
    color: #000;
}

.sz-btn {
    border-radius: 1.5rem;
}

.nav-link:hover {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

/* ANCHOR SEZIONE HERO */
section#sz-hero {
    background-image: url('./../img/jumbo-bg.png');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 550px;
}

section#sz-hero > div.container {
    height: 100%;
}

section#sz-hero h1 {
    font-size: 2.5em;
}


