/* GENERALE */
html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

/* UTILITY */
.bg-black {
    background-color: #000;
}

.sz-active-img {
    border-bottom: 2px solid #0d6efd;
}

.text-black {
    color: #000;
}

.sz-btn-dark:hover,
.btn-primary:hover {
    box-shadow: inset 0 0 0 0.1rem rgb(255, 255, 255);
}

.sz-btn-red {
    color: #fff;
    background-color: #cd3d0f;
    border: 2px solid #cd3d0f;
    width: 130px;
}

.sz-btn-red:hover {
    color: #fff;
    box-shadow: inset 0 0 0 0.1rem rgb(255, 255, 255);
}

.nav-link {
    border-bottom: 1px solid transparent;
}

.sz-active-link {
    border-bottom: 1px solid #000;
}

.nav-link:hover {
    color: #0d6efd !important;
}

.text_gray {
    color: rgb(112, 111, 111);
}

/* ANCHOR HEADER */
#logo-sony {
    height: 20px;
}

/* ANCHOR NAV */
.i-search {
    height: 25px;
}

/* ------------------- MENU' DROPDOWN FULL WIDTH -------------------- */
li.dropdown {
    position: initial;
} 

ul.dropdown-menu {
    width: 100%;
    margin-top: -10px !important; 
    border: none;
}

li.sz-dd-item img {
    opacity: 0.6;
}

li.sz-dd-item:hover img {
    opacity: 1;
    cursor: pointer;
}

li.sz-dd-item:hover h6{
    text-decoration: underline;
    cursor: pointer;
}

ul.sz-nav-search {
    background-color: #f8f9fa;
}

div#sz-container-search {
    border: 2px inset #000;
    width: 40%;
}

input.sz-search {
    width: 100%;
    height: 3em;
    border: 0;
}

input.sz-search:focus-visible {
    outline: 0;
}

.sz-btn-search {
    height: 4.5em;
    background-color: #0d6efd;
    border: 0;
}

.sz-nav-search  .i-search {
    filter: invert(1);
}



/* ------------------------------------------------------------------ */


/* ANCHOR SEZIONE HERO */
section#sz-hero {
    background-image: url('./../img/jumbo-bg.png');
    height: 70vh;
    margin-top: 115px;
}

section#sz-hero,
section#sz-hero-2 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

section#sz-hero h1,
section#sz-hero h1 {
    font-size: 2.5em;
}

/* ANCHOR SEZIONE GAMES */
div.img-games,
div.img-games > img,
div.img-new-rel > div,
div.img-new-rel img {
    border-radius: 10px;
}

div.img-games {
    border: 1px solid transparent;
}

div.img-games:hover {
    border: 1px solid #0d6efd;
    cursor: pointer;
    transform: translate(0px,-10px);
}

/* ANCHOR SEZIONE CONSOLE */
section#sz-console button {
    width: 200px;
}

div.row.img-console > div:not(.sz-active-img) {
    opacity: .5;
    border-bottom: 2px solid transparent;
}

div.row.img-console > div:hover {
    border-bottom: 2px solid #0d6efd;
    cursor: pointer;
    opacity: 1;
    transform: scale(1.1);
}

/* ANCHOR SEZIONE HERO 2 */
section#sz-hero-2 {
    background-image: url('./../img/it-takes-two-hero-banner-desktop.jpg');
}

/* ANCHOR SEZIONE NEW RELEASES */
section#new-releases {
    background-color: #1f1f1f;
}

/* ANCHOR SEZIONE EXPLORE */
.card {
    border: none;
}

.card:hover,
section#ps-store img:hover,
section#social-media img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* ANCHOR SEZIONE PLAYSTATION PLUS */
section#ps-plus {
background-color: #bebcbb;
}

section#ps-plus button {
    background-color: #d9dadc;
}

section#ps-plus button:hover {
    box-shadow: inset 0 0 0 0.2rem #bebcbb;
}

/* ANCHOR SEZIONE PLAYSTATION NOW */
section#ps-now {
    background-color: #161c3b;
}

section#ps-now button:hover {
    box-shadow: inset 0 0 0 0.2rem #161c3b;
}

/* ANCHOR FOOTER */

footer {
    background-color: #00439c;
}

.logo-ps-footer {
    width: 100px;
}

div.sz-language img {
    height: 20px;
}

div#copyright img {
    height: 50px;
}

div#lists_group a:hover {
    text-decoration: underline;
}